*:8080 {
  tls /etc/saml/server.crt /etc/saml/server.key
  log stdout
  root {$PWD}/webroot
  ext .html
  header /private Cache-Control "no-cache, no-store, must-revalidate"

  jwt {
    path /private
    redirect /login
    allow role AzureAD_Viewer
    allow role AzureAD_Editor
    allow role AzureAD_Administrator
  }

  login {
    success_url /private

    azure_enabled true
    azure_idp_metadata_location /etc/saml/azure_ad_idp_metadata.xml
    azure_idp_sign_cert_location /etc/saml/azure_ad_signing_cert.pem
    azure_tenant_id 1b9e886b-8ff2-4378-b6c8-6771259a5f51
    azure_application_id 623cae7c-e6b2-43c5-853c-2059c9b2cb58
    azure_application_name "My Infosec"
    azure_metadata_url "https://localhost:8080/login"
    azure_acs_url "https://localhost:8080/login"

    # for testing, where no https is available, don't set the secure flag for the.
    cookie_secure false
  }

}
